BOT_TOKEN=1234567890:PASTE_YOUR_BOT_TOKEN_HERE
ADMIN_IDS=123456789,987654321
REQUIRED_CHANNEL_USERNAME=@my_channel
REQUIRED_CHANNEL_URL=https://t.me/my_channel
PROMO_TEXT=Больше подборок фильмов и новых кодов ищи в нашем канале.
DATABASE_PATH=data/bot.sqlite3
